<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.dtu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jsr"
        android:label="JSR University"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.Home" />
        </activity>
        <activity android:name=".MainActivity"
            android:label="Sign In"/>
        <activity
            android:name=".Courses"
            android:label="Courses"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.Home" />
        </activity>
        <activity
            android:name=".NewsAndEvents"
            android:label="News/Events"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.Home" />
        </activity>
        <activity
            android:name=".Map"
            android:label="Map"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.Home" />
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration" />
        <activity android:name=".Launcher2" />
        <activity android:name=".Gallery"
            android:label="Gallery"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.dtu.Home" />

        </activity>
    </application>

</manifest>